In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

os.chdir(r"D:\dataverse_files\2005.csv")

df=pd.read_csv('2005.csv')

In [2]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,4,23,0,NaN,0,0,0,0,0,0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,6,15,0,NaN,0,0,0,0,0,0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,9,18,0,NaN,0,0,0,0,0,0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,11,10,0,NaN,0,0,0,0,0,0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140591,2005,12,22,4,1652.0,1655,1815.0,1837,DL,901,...,7,15,0,NaN,0,0,0,0,0,0
7140592,2005,12,22,4,1825.0,1825,1858.0,1848,DL,902,...,7,32,0,NaN,0,0,0,0,0,0
7140593,2005,12,22,4,1507.0,1511,1641.0,1649,DL,903,...,4,29,0,NaN,0,0,0,0,0,0
7140594,2005,12,22,4,924.0,925,1056.0,1111,DL,904,...,4,19,0,NaN,0,0,0,0,0,0
7140595,2005,12,22,4,1345.0,1344,1621.0,1614,DL,905,...,6,27,0,NaN,0,0,0,0,0,0

# We will now perform interpolation, estimating the missing values in the column based on their neighbouring data points

In [3]:
df['ActualElapsedTime'] = df['ActualElapsedTime'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['CRSElapsedTime'] = df['CRSElapsedTime'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['AirTime'] = df['AirTime'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['ArrTime'] = df['ArrTime'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['ArrDelay'] = df['ArrDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['CarrierDelay'] = df['CarrierDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['WeatherDelay'] = df['WeatherDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['NASDelay'] = df['NASDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['LateAircraftDelay'] = df['LateAircraftDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['SecurityDelay'] = df['SecurityDelay'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['TaxiIn'] = df['TaxiIn'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df['TaxiOut'] = df['TaxiOut'].interpolate(method='linear', limit_direction='both', axis=0) #Interpolation
df.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               133730
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime          0
CRSElapsedTime             0
AirTime                    0
ArrDelay                   0
DepDelay              133730
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7006865
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [4]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,4,23,0,NaN,0,0,0,0,0,0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,6,15,0,NaN,0,0,0,0,0,0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,9,18,0,NaN,0,0,0,0,0,0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,11,10,0,NaN,0,0,0,0,0,0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140591,2005,12,22,4,1652.0,1655,1815.0,1837,DL,901,...,7,15,0,NaN,0,0,0,0,0,0
7140592,2005,12,22,4,1825.0,1825,1858.0,1848,DL,902,...,7,32,0,NaN,0,0,0,0,0,0
7140593,2005,12,22,4,1507.0,1511,1641.0,1649,DL,903,...,4,29,0,NaN,0,0,0,0,0,0
7140594,2005,12,22,4,924.0,925,1056.0,1111,DL,904,...,4,19,0,NaN,0,0,0,0,0,0
7140595,2005,12,22,4,1345.0,1344,1621.0,1614,DL,905,...,6,27,0,NaN,0,0,0,0,0,0

In [5]:
df.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               133730
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime          0
CRSElapsedTime             0
AirTime                    0
ArrDelay                   0
DepDelay              133730
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7006865
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [6]:
df = df.dropna(subset=['DepTime', 'TailNum'])
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,4,23,0,NaN,0,0,0,0,0,0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,6,15,0,NaN,0,0,0,0,0,0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,9,18,0,NaN,0,0,0,0,0,0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,11,10,0,NaN,0,0,0,0,0,0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,5,10,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140591,2005,12,22,4,1652.0,1655,1815.0,1837,DL,901,...,7,15,0,NaN,0,0,0,0,0,0
7140592,2005,12,22,4,1825.0,1825,1858.0,1848,DL,902,...,7,32,0,NaN,0,0,0,0,0,0
7140593,2005,12,22,4,1507.0,1511,1641.0,1649,DL,903,...,4,29,0,NaN,0,0,0,0,0,0
7140594,2005,12,22,4,924.0,925,1056.0,1111,DL,904,...,4,19,0,NaN,0,0,0,0,0,0
7140595,2005,12,22,4,1345.0,1344,1621.0,1614,DL,905,...,6,27,0,NaN,0,0,0,0,0,0

# We changed the datatype of these features to the best suited datatype as per the data that they contain

In [7]:
# Converting Categorical Variables to object type
df['Year'] = df['Year'].astype(object)
df['Month'] = df['Month'].astype(object)
df['DayofMonth'] = df['DayofMonth'].astype(object)
df['DayOfWeek'] = df['DayOfWeek'].astype(object)

df['UniqueCarrier'] = df['UniqueCarrier'].astype(object)
df['FlightNum'] = df['FlightNum'].astype(object)
df['TailNum'] = df['TailNum'].astype(object)

df['Origin'] = df['Origin'].astype(object)
df['Dest'] = df['Dest'].astype(object)

df['Cancelled'] = df['Cancelled'].astype(object)
df['CancellationCode'] = df['CancellationCode'].astype(object)
df['Diverted'] = df['Diverted'].astype(object)

C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Month'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayofMonth'] = df['DayofMonth'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayOfWeek'] = df['DayOfWeek'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['UniqueCarrier'] = df['UniqueCarrier'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FlightNum'] = df['FlightNum'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TailNum'] = df['TailNum'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Origin'] = df['Origin'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dest'] = df['Dest'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cancelled'] = df['Cancelled'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CancellationCode'] = df['CancellationCode'].astype(object)
C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2784548203.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Diverted'] = df['Diverted'].astype(object)

In [10]:
df.dtypes

Year                  object
Month                 object
DayofMonth            object
DayOfWeek             object
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum             object
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled             object
CancellationCode      object
Diverted              object
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

In [11]:
df.isna().any()

Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime              False
CRSDepTime           False
ArrTime              False
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum              False
ActualElapsedTime    False
CRSElapsedTime       False
AirTime              False
ArrDelay             False
DepDelay             False
Origin               False
Dest                 False
Distance             False
TaxiIn               False
TaxiOut              False
Cancelled            False
CancellationCode      True
Diverted             False
CarrierDelay         False
WeatherDelay         False
NASDelay             False
SecurityDelay        False
LateAircraftDelay    False
dtype: bool

# Here I am dropping Cancellation code as I dont think this would be a significant feature what will help us in our prediction

In [24]:
df.drop('CancellationCode', axis=1, inplace=True)

C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\3500564832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('CancellationCode', axis=1, inplace=True)

In [25]:
df.shape

(7006866, 29)

# Adding a new column Delay and then populating the column based on the set condition

In [14]:
df['Delay'] = ''

C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\3494590138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Delay'] = ''

In [15]:
df['Delay'] = np.where((df['ArrDelay'] <= 0) & (df['DepDelay'] <= 0), 'N', 'Y')

C:\Users\MSI_PC\AppData\Local\Temp\ipykernel_63484\2543425824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Delay'] = np.where((df['ArrDelay'] <= 0) & (df['DepDelay'] <= 0), 'N', 'Y')

In [22]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,...,23,0,NaN,0,0,0,0,0,0,N
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,...,15,0,NaN,0,0,0,0,0,0,N
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,...,18,0,NaN,0,0,0,0,0,0,N
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,...,10,0,NaN,0,0,0,0,0,0,N
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,...,10,0,NaN,0,0,0,0,0,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140591,2005,12,22,4,1652.0,1655,1815.0,1837,DL,901,...,15,0,NaN,0,0,0,0,0,0,N
7140592,2005,12,22,4,1825.0,1825,1858.0,1848,DL,902,...,32,0,NaN,0,0,0,0,0,0,Y
7140593,2005,12,22,4,1507.0,1511,1641.0,1649,DL,903,...,29,0,NaN,0,0,0,0,0,0,N
7140594,2005,12,22,4,924.0,925,1056.0,1111,DL,904,...,19,0,NaN,0,0,0,0,0,0,N
7140595,2005,12,22,4,1345.0,1344,1621.0,1614,DL,905,...,27,0,NaN,0,0,0,0,0,0,Y

In [17]:
(df.isna().sum())*100

Year                         0
Month                        0
DayofMonth                   0
DayOfWeek                    0
DepTime                      0
CRSDepTime                   0
ArrTime                      0
CRSArrTime                   0
UniqueCarrier                0
FlightNum                    0
TailNum                      0
ActualElapsedTime            0
CRSElapsedTime               0
AirTime                      0
ArrDelay                     0
DepDelay                     0
Origin                       0
Dest                         0
Distance                     0
TaxiIn                       0
TaxiOut                      0
Cancelled                    0
CancellationCode     700686500
Diverted                     0
CarrierDelay                 0
WeatherDelay                 0
NASDelay                     0
SecurityDelay                0
LateAircraftDelay            0
Delay                        0
dtype: int64

In [26]:
df_clean = df.dropna()

# sample 1000 rows from the cleaned dataframe without replacement
df1 = df_clean.sample(n=min(1000, len(df_clean)), replace=False, random_state=42)

In [27]:
df1

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delay
5025251,2005,9,26,1,1000.0,1009,1122.0,1129,OH,5576,...,12,8,0,0,0,0,0,0,0,N
5645383,2005,10,26,3,1307.0,1317,1319.0,1343,OO,6706,...,6,7,0,0,0,0,0,0,0,N
5043707,2005,9,10,6,2114.0,2119,2159.0,2159,OO,6052,...,5,11,0,0,0,0,0,0,0,N
4841218,2005,9,23,5,2052.0,2030,2212.0,2149,UA,593,...,5,14,0,0,0,0,1,0,22,Y
1435969,2005,3,19,6,1852.0,1855,2400.0,22,UA,68,...,5,10,0,0,0,0,0,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2949476,2005,5,11,3,1357.0,1400,1654.0,1612,DL,754,...,6,16,0,0,0,0,42,0,0,Y
1906105,2005,4,30,6,1555.0,1555,1700.0,1710,WN,2451,...,2,5,0,0,0,0,0,0,0,N
3829901,2005,7,25,1,1742.0,1742,1823.0,1827,OO,6120,...,3,4,0,0,0,0,0,0,0,N
1294106,2005,3,31,4,939.0,930,1049.0,1045,WN,2064,...,3,6,0,0,0,0,0,0,0,Y
3748783,2005,7,27,3,2135.0,2127,2258.0,2254,NW,1273,...,6,14,0,0,0,0,0,0,0,Y

In [28]:
# save the DataFrame to a CSV file
df1.to_csv("2005sample.csv", index=False)